<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".EditarEnvio"
            android:exported="false" />
        <activity
            android:name=".CrearSeguimiento"
            android:exported="false" />
        <activity
            android:name=".ListarSeguimientos"
            android:exported="false" />
        <activity
            android:name=".DetalleEnvio"
            android:exported="false" />
        <activity
            android:name=".HistorialEnvios"
            android:exported="false" />
        <activity
            android:name=".VistaTransportista"
            android:exported="false" />
        <activity
            android:name=".EditarTransportista"
            android:exported="false" />
        <activity
            android:name=".ui.transportista.EliminarTransportista"
            android:exported="false" />
        <activity
            android:name=".ui.paquete.EditarPaquete"
            android:exported="false" />
        <activity
            android:name=".ui.usuario.VerUsuarios"
            android:exported="false" />
        <activity
            android:name=".ui.paquete.AgregarPaquete"
            android:exported="false" />
        <activity
            android:name=".ui.paquete.VistaPaquete"
            android:exported="false" />
        <activity
            android:name=".VerPerfilUsuario"
            android:exported="false" />
        <activity
            android:name=".ConsultarSeguimientoPedidos"
            android:exported="false" />
        <activity
            android:name=".ui.usuario.ModificarUsuario"
            android:exported="false" />
        <activity
            android:name=".RegistrarEnvio"
            android:exported="false" />
        <activity
            android:name=".ui.administracion.RecordarContrasena"
            android:exported="false" />
        <activity
            android:name=".ui.administracion.RegistrarCuenta"
            android:exported="false" />
        <activity
            android:name=".ui.transportista.CrearTransportista"
            android:exported="false" />
        <activity
            android:name=".VistaChats"
            android:exported="false" />
        <activity
            android:name=".ui.chat.MensajesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.administracion.LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.departamentos.VistaInsertarDepartamento"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>